<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create" method="POST">
        <label class='sr-only' for="room-pass">Codigo da Sala</label>
        <input type="password" name='password' id='room-pass' placeholder="codigo da sala">
        <button>
        <img src="img/bncBranco.svg" alt="Entrar na sala">    
        Criar sala</button>
    </form>
</section>